* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

ul,
li {
    list-style-type: 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* header */

.toolbar {
    background-color: orange;
    height: 50px;
}

.container-toolbar {
    margin: 0 auto;
}

.row-toolbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.col-toolbar {
    display: flex;
    flex-wrap: wrap;
}

.category {
    color: white;
    padding: 0 3px;
    
}

.header {
    text-align: center;
    padding: 30px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.subtitle {
    font-size: 15px;
    font-weight: bold;
}

/* main */
.first-section {
    max-width: 100%;
}

.container {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

.col {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.brand-img {
    font-size: 10px;
    color: rgb(16, 16, 16);
}

.description-img {
    font-size: 11px;
    font-weight: bold;
}

.prize-img {
    font-size: 10px;
    color: red;
    font-weight: 600;
}

.sale-img {
    color: black;
    text-decoration: line-through;
}

/* footer */

footer {
    background-color: black;
    height: 50px
}

.container-footer {
    margin: 0 auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.text-footer-title {
    color: white;
    font-size: 13px;
    padding: 5px 4px;
}

.text-footer {
    color: white;
    font-size: 9px;
}

.padding {
    padding: 0 4px;
}